@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MarkOne&display=swap');
.header{
    font-family: 'Inria Serif', serif;
    margin: 0em;
    padding: 0em;
}
nav {
    background-color: #C7F9CC;
    color: #0C3A2D;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .logo {
    font-family: 'MarkOne', sans-serif;
    font-weight: bolder;
    font-size: 2.625rem;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
    padding-left: 1em;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li a {
    color: #0C3A2D;
    text-decoration: none;
  }
  
  .nav-links li a:hover {
    color:  #00c023; /* Change color on hover */
  }